--
-- PostgreSQL database dump
--

\restrict KoGLHuGXc5tPhTmooktm2Pi7J7EQ5eLoF4vgfMUa6rn6Lje7uRcbWGd2B6mSqNS

-- Dumped from database version 14.20 (Debian 14.20-1.pgdg13+1)
-- Dumped by pg_dump version 14.20 (Debian 14.20-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: locales; Type: TABLE DATA; Schema: public; Owner: fme
--

COPY public.locales (id, nombre, direccion, codigo) FROM stdin;
1	Lampa	Barros Luco #1980, Lampa	LAMPA
2	TilTil	El Atajo 01 esquina Arturo Prat, Tiltil	TILTIL
3	boulevard	boulevard Santa Sara	BOULEVARD
4	Tienda Online	Comercio Electr├│nico	WEB
\.


--
-- Data for Name: productos; Type: TABLE DATA; Schema: public; Owner: fme
--



--
-- Data for Name: inventario; Type: TABLE DATA; Schema: public; Owner: fme
--



--
-- Data for Name: precios; Type: TABLE DATA; Schema: public; Owner: fme
--



--
-- Name: inventario_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fme
--

SELECT pg_catalog.setval('public.inventario_id_seq', 51, true);


--
-- Name: locales_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fme
--

SELECT pg_catalog.setval('public.locales_id_seq', 4, true);


--
-- Name: precios_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fme
--

SELECT pg_catalog.setval('public.precios_id_seq', 17, true);


--
-- Name: productos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fme
--

SELECT pg_catalog.setval('public.productos_id_seq', 18, true);


--
-- PostgreSQL database dump complete
--

\unrestrict KoGLHuGXc5tPhTmooktm2Pi7J7EQ5eLoF4vgfMUa6rn6Lje7uRcbWGd2B6mSqNS

